.site-intro {

    font-size: 1.25rem;

}

nav a {

    color:green
}

nav a:visited {

    color:blueviolet

}

nav a:hover {

    color:green

}

nav a:active {

    color:aquamarine
}

nav a:focus {

    color:green

}