html {

   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #4A628A;

}


nav,
header {
    text-align: center;
}

h1 {
    text-align: center;
    text-decoration: underline wavy;
}

h2 {
    text-align: center;
}

.Assignments li {
    list-style-type: none;
    text-align: center;
}

.Assignments hi::before {
    content: "\1F431 ";
    font-size: 1.5rem;
}

.Assignments a:link,
.Assignments a:visited {
    line-height: 2.0rem;
}

.Assignments a:hover,
.Assignments a:active {
    text-decoration: underline wavy #7AB2D3;
    text-underline-offset: 5rem;
}


h1,
h2,
h3 {
    color: #7AB2D3;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: wavy #3795BD 6rem;
    text-underline-offset: 10rem;
}

h2::before,
h2::after {
    content: "\1F341";
}
